// sticky header background color
$color_header = rgba(235,235,235,0.5)
$color_header_dark = rgba(35,35,35,0.6)


// properyies for <a> in markdown
$color_underline = rgba(255,185,15,0.5)
$color_underline_hover = convert(hexo-config('style.color.main_color'))

$width_underline = 4px
$width_underline_hover = 10px
$width_underline_block = 20px